.navbar-upper-line {
    padding: 0.25%;
    background-color: #15ac5c;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

.navbar {
    background-color: #82828214;
    margin: 0;
    padding: 0 0 0 50px;
    text-indent: 170%;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: "Poppins", "Comic Sans", sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #0d552d;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 11%;
}

.navbar ul li:hover {
    border-bottom: 2px solid #333;
}

.navbar a {
    color: #333;
    text-decoration: none;
}